@model List<WorkListAllViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    int index = 0;
}

<div class="container-fluid">

    @foreach (var gorev in Model)
    {
        index++;
        <div class="card my-1">
            <h5 class="card-header">@gorev.WorkName</h5>
            <div class="card-body">

                <h5 class="card-title"> <span class="text-danger">Aciliyet Durumu : </span> <b>@gorev.Level.Tanim</b></h5>
                <p class="card-text">@gorev.Description</p>

                <p class="text-right">
                    @if (gorev.Reports.Count > 0)
                    {
                        <a class="btn btn-light btn-sm" data-toggle="collapse" href="#collapseExample-@index" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Raporlara Git <i class="fas fa-caret-down ml-2"></i>
                            <span class="badge badge-success">@gorev.Reports.Count</span>
                        </a>
                    }
                    else
                    {
                        <span class="leed font-italic font-weight-bold d-block text-left mb-1">
                            Hiç rapor bulunmamaktadır ...
                        </span>
                        <a class="btn btn-dark btn-sm" asp-action="AddReport" asp-controller="Work" asp-route-id="@gorev.Id">
                            Rapor Yaz <i class="fas fa-plus-circle mr-3"></i>
                        </a>
                    }



                    <a href="" class="btn btn-outline-success btn-sm">
                        Tamamlandı olarak İşaretle

                    </a>
                </p>
                <div class="collapse" id="collapseExample-@index">
                    <table class="table table-hover table-bordered table-sm">
                        <tr>
                            <th>Ad</th>
                            <th>Tanım</th>
                            <th>İşlem</th>
                        </tr>
                        @foreach (var item in gorev.Reports)
                        {
                            <tr>
                                <td>@item.ReportTitle</td>
                                <td>@item.ReportDescription</td>
                                <td>
                                    <a class="btn btn-warning btn-sm" asp-action="EditReport" asp-route-id="@item.Id">
                                        <i class="far fa-edit mr-2"></i> Düzenle
                                    </a>
                                </td>
                            </tr>

                        }
                    </table>
                </div>






            </div>
        </div>



    }
</div>